img {
  object-fit: contain;
}

body {
  margin: 0px;
  font-family: "Inter";
}

.topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
}

.topic > h1 {
  font-size: 3em;
  margin: 0px;
  margin-bottom: 20px;
}

#Home {
  justify-content: center;
  height: 85vh;
  background-color: #43abe5;
  color: #ffffff;
}

#Home svg {
  fill: currentColor;
}

#Home img {
  width: 100%;
  border-radius: 50%;
}

#Home h1 {
  font-size: 2em;
}

#Home h1 strong {
  font-size: 2em;
}

#Home p {
  margin-left: 10px;
  font-size: 1.5em;
  padding-right: 10px;
}

#Home > div:first-child {
  display: flex;
  flex-direction: row;
  width: 69%;
}

#Home > div:first-child > div:first-child {
  width: 79%;
}

#Home > div:first-child > div:nth-child(2) {
  width: 21%;
  display: flex;
  margin: auto;
}

#Home > div:nth-child(2) {
  width: 110px;
  aspect-ratio: 1;
  position: absolute;
  bottom: 0px;
  transform: rotate(90deg) scaleX(0.4) translateX(94px);
}

#LittleAboutMe {
  background-color: #f0edda;
}

#LittleAboutMe p {
  font-size: 2em;
  text-align: justify;
}

#LittleAboutMe a {
  color: inherit;
}

#LittleAboutMe > div {
  display: flex;
  flex-direction: column;
  width: 85%;
}

#LittleAboutMe > div > div:first-child {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

#LittleAboutMe > div > div:first-child > div:first-child {
  width: 45%;
  display: flex;
  flex-direction: row;
}

#LittleAboutMe > div > div:first-child > div:first-child > div {
  width: 57%;
  display: flex;
  flex-direction: column;
}

#LittleAboutMe > div > div:first-child > div:first-child > div > img {
  height: 60%;
  object-fit: cover;
}

#LittleAboutMe > div > div:first-child > div:first-child > div > div {
  height: 40%;
  display: flex;
  flex-direction: row;
}

#LittleAboutMe > div > div:first-child > div:first-child > div > div > img {
  width: 50%;
}

#LittleAboutMe > div > div:first-child > div:first-child > img {
  width: 43%;
}

#LittleAboutMe > div > div:first-child > div:nth-child(2) {
  width: 55%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#LittleAboutMe > div > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

#LittleAboutMe > div > div:nth-child(2) > div:first-child {
  width: 55%;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#LittleAboutMe > div > div:nth-child(2) > div:nth-child(2) {
  width: 45%;
  display: flex;
  flex-direction: row;
}

#LittleAboutMe > div > div:nth-child(2) > div:nth-child(2) > img {
  width: 39%;
}

#LittleAboutMe > div > div:nth-child(2) > div:nth-child(2) > div {
  width: 61%;
  display: flex;
  flex-direction: column;
}

#LittleAboutMe
  > div
  > div:nth-child(2)
  > div:nth-child(2)
  > div
  > img:first-child {
  height: 60%;
}

#LittleAboutMe
  > div
  > div:nth-child(2)
  > div:nth-child(2)
  > div
  > img:nth-child(2) {
  height: 40%;
}

#Projects {
  background-color: #21221f;
  color: #ffffff;
}

#Skills {
  background-color: #43abe5;
  color: #ffffff;
}

#Skills > #SkillsHolder {
  width: 90%;
}

#Links {
  background-color: #f0edda;
  color: #21221f;
}

#Links > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

#Footer {
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 5%;
  background-color: #414141;
  color: #ffffff;
}

#Footer a {
  text-decoration: none;
  color: inherit;
}

#Footer > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
